<div class="admininfos">
    {{{ output.mydashboard_admin_header }}}

    <div class="row">
      

        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-1">
            <div class="inner">
              <h3>{{{enrolledcourses}}}</h3>

              <p>{{#str}}enrolledcourses, theme_hurix{{/str}}</p>
            </div>
            <div class="icon">
             <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-8">
            <div class="inner">
              <h3>{{{mysatudent}}}</h3>
              <p>{{#str}}mysatudent, theme_hurix{{/str}}</p>
            </div>
            <div class="icon">
             <i class="fa fa-bullhorn" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
 <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-2">
            <div class="inner">
              <h3>{{{assigements}}}</h3>

              <p>{{#str}}assigements, theme_hurix{{/str}}</p>
            </div>
            <div class="icon">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
          
        
        
        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-5">
            <div class="inner">
              <h3>{{{notifications}}}</h3>

              <p>{{#str}}notifications, theme_hurix{{/str}}</p>
            </div>
            <div class="icon">
                <i class="fa fa-bell-o" aria-hidden="true"></i>
            
            </div>
          </div>
        </div>

        

       
        
    </div>
</div>
